<form >
    <h4>Veuiller remplir le formulaire suivant :</h4>
    <br>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputPrenom">Prenom</label>
        <input type="text" class="form-control" id="inputPrenom" placeholder="Votre prenom" [(ngModel)]="firstName" name="firstName">
      </div>
      <div class="form-group col-md-6">
        <label for="inputNom">Nom</label>
        <input type="email" class="form-control" id="inputNom" placeholder="Votre nom" [(ngModel)]="lastName" name="lastName">
      </div>
    </div>

    <div class="form-group">
      <label for="inputEmail4">Email</label>
      <input type="email" class="form-control" id="inputEmail4" placeholder="Email" [(ngModel)]="email" name="email">
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputCas">Cas :</label>
        <select id="inputCas" class="form-control" [(ngModel)]="cas" name="cas">
          <option selected>1er fois en France</option>
          <option>Renouvellement du titre de sejour</option>
        </select>
      </div>
      <div class="form-group col-md-6">
        <label for="inputStatut">Vous etes</label>
        <select id="inputStatut" class="form-control" [(ngModel)]="statut" name="statut">
          <option selected>Stagiaire</option>
          <option>Etudiant</option>
          <option>Doctorant</option>
          <option>Chercheur</option>
        </select>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputNationality">Nationalité </label>
        <input type="text" class="form-control" id="inputNationality" placeholder="Votre nationalité" [(ngModel)]="nationality" name="nationality">
      </div>
      <div class="form-group col-md-6">
        <label for="inputAddress">Addresse</label>
        <input type="text" class="form-control" id="inputAddress" placeholder="Votre adresse" [(ngModel)]="adress" name="adress">
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputCity">Ville</label>
        <input type="text" class="form-control" id="inputCity" [(ngModel)]="city" name="city" >
      </div>
      <div class="form-group col-md-4">
        <label for="inputState">Departement</label>
        <select id="inputState" class="form-control" [(ngModel)]="zip" name="zip">
          <option selected> Departement 1</option>
          <option>Departement 2</option>
          <option>Departement 3</option>
          <option>Departement 4</option>
        </select>
      </div>
      <div class="form-group col-md-2">
        <label for="inputZip">Code postal</label>
        <input type="text" class="form-control" id="inputZip">
      </div>
    </div>
    <button type="button" class="btn btn-primary" (click)="onSubmit()">Creer</button>
  </form>
