<app-loading-spinner></app-loading-spinner>
<app-top-menu ></app-top-menu>
    <div class="row">
        <div class="col-md-6 col-md-offset-1 ">
            <app-form ></app-form>
        </div>
        <div class="col-md-1">
        </div>
        <div class = "col-md-4">
            <app-feuille-de-route-pdf></app-feuille-de-route-pdf>
        </div>
    </div>
<router-outlet></router-outlet>
