  <div *ngIf="data.bool" #content >
    <br>
    <h4>Votre feuille de route sera de la forme :</h4>
    <br>
    <table class="table" align="center">
      <tbody>
        <tr>
          <th scope="col" class="success">Numero</th>
            <td>1</td>
        </tr>
        <tr>
          <th scope="col" class="success">Prenom</th>
            <td>{{ firstName }}</td>
        </tr>
        <tr>
            <th scope="col" class="success">Nom</th>
            <td>{{ lastName }}</td>
        </tr>
        <tr>
            <th scope="col" class="success">Email</th>
            <td>{{ email }}</td>
        </tr>
        <tr>
            <th scope="col" class="success" >Cas</th>
            <td>{{ cas }}</td>
        </tr>
        <tr>
            <th scope="col" class="success">Statut</th>
            <td>{{ statut }}</td>
        </tr>
        <tr>
            <th scope="col" class="success">Nationalité</th>
            <td>{{ nationality }}</td>
        </tr>
        <tr>
            <th scope="col" class="success">Adresse</th>
            <td>{{ adress }}</td>
        </tr>
        <tr>
            <th scope="col" class="success">Ville</th>
            <td>{{ city }}</td>
        </tr>
        <tr>
            <th scope="col" class="success">Code postal</th>
            <td>{{ zip }}</td>
          </tr>
        </tbody>
      </table>
    <button type="button" class="btn btn-primary" (click)="DownloadPDF()">Telecharger</button>
  </div>
